@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground-rgb: 15, 23, 42;
  /* slate-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  color: rgb(var(--foreground-rgb));
  background-color: #f8fafc;
  /* Это slate-50, очень мягкий серый */
  min-height: 100vh;
}

@layer base {
  button {
    @apply transition-all duration-200;
  }
}