@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground-rgb: 15, 23, 42;
  /* slate-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  color: rgb(var(--foreground-rgb));
  background-color: #f8fafc;
  /* Это slate-50, очень мягкий серый */
  min-height: 100vh;
}

@layer base {
  button {
    @apply transition-all duration-200;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background: linear-gradient(90deg, #f1f5f9 25%, #e2e8f0 50%, #f1f5f9 75%);
  background-size: 200% 100%;
  animation: shimmer 1.6s infinite linear;
}

.animate-shimmer-light {
  background: linear-gradient(90deg, #ffffff 25%, #f8fafc 50%, #ffffff 75%);
  background-size: 200% 100%;
  animation: shimmer 1.6s infinite linear;
}